
  
  body {
    background-color: #4677f6;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 1%;
  }
  
  .container {
    width: 448px;
    height: 700px;
    background-color: #fff;
    margin-left: 30%;
    margin-top: 2%;
    position: relative;
  }
     